/* -------------------------------------------------------------------------- */
/* RESPONSIVE MEDIA QUERIES */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* SMALL BREAKPOINT (Landscape Phones and Up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 576px) {
  .ui-btn {
    display: inline-flex;
    width: auto;
    padding: 0.8rem 0.5rem;
  }
}

/* -------------------------------------------------------------------------- */
/* MEDIUM BREAKPOINT (Tablets 768px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 768px) {
  .ui-btn {
    display: inline-flex;
    min-width: 220px;
  }

  /* TOPBAR ***************************************************************** */
  .topbar {

    .containerish {
      max-width: 95%;
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
      padding: 0.2rem 0.5rem;

      .col-left {
        grid-row: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        p {
          color: white;
          margin: 0 !important;
          margin-right: 0.5rem !important;
        }
      }

      .col-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }


}

/* -------------------------------------------------------------------------- */
/* LARGE BREAKPOINT (Desktops 992px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 992px) {
  .ui-btn {
    display: inline-flex;
    width: auto;
    padding: 0.8rem 0.5rem;
    min-width: 225px;
  }

  /* hero ******************************************************************* */
  .hero {
    background: url('../../img/hero@2x.jpg') center / cover;
    padding: 40px 20px;
    height: 80vh;
    display: flex;
    align-items: center;

    .containerish {
      display: grid;
      grid-template-columns: 2fr .5fr;

      .section-info {
        p {
          max-width: 486px;
        }
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/* EXTRA LARGE BREAKPOINT (Large Desktops 1200px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1200px) {

  /* TOPBAR *************************************************************** */
  header {
    position: fixed;
    top: 0;
    left: 0;
  }

  /* NAVBAR *************************************************************** */
  .dropdown:hover>.dropdown-menu {
    display: block;
  }

  .navbar-wrapper {
    background: rgba($color-dark, .2);
    position: relative;
    overflow: visible;
    // min-height: 100px;
    display: flex;
    align-items: center;

    .navbar-expand-xl .navbar-nav .nav-link {
      padding-right: 0;
      padding-left: 0;
    }

    .containerish {
      // width: 95%;
      max-width: 100%;
      margin: 0 auto;
      height: auto;
      padding: 0 1rem;
      display: grid;
      grid-gap: 1rem;

      @media screen and (min-width: 1200px) {
        padding: 0 2rem;
      }
    }
  }

  /* hero ******************************************************************* */
  .hero {
    background: url('../../img/hero@2x.jpg') center / cover;
    padding: 40px 20px;
    height: 100vh;
    display: flex;
    align-items: center;

    .containerish {
      display: grid;
      grid-template-columns: 2fr .5fr;

      .section-info {
        margin-left: 50px;

        p {
          max-width: 486px;
        }
      }
    }
  }

}

/* -------------------------------------------------------------------------- */
/* MACBOOK PRO 15" BREAKPOINT (Large Desktops 1400px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1400px) {

  /* hero ******************************************************************* */
  .hero {

    .containerish {
      grid-template-columns: 1.5fr 1fr;

      .section-info {
        margin-left: 0;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/* SUPER LARGE BREAKPOINT (IMAC STATUS 1900px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1900px) {}