/* -------------------------------------------------------------------------- */
/* RESPONSIVE MEDIA QUERIES */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* SMALL BREAKPOINT (Landscape Phones and Up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 576px) {
  .ui-btn {
    display: inline-flex;
    width: auto;
    padding: 0.8rem 0.5rem;
  }
}

/* -------------------------------------------------------------------------- */
/* MEDIUM BREAKPOINT (Tablets 768px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 768px) {
  .ui-btn {
    display: inline-flex;
    min-width: 220px;
  }

  /* TOPBAR ***************************************************************** */
  .topbar {

    .containerish {
      max-width: 95%;
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
      padding: 0.2rem 0.5rem;

      .col-left {
        grid-row: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        p {
          color: white;
          margin: 0 !important;
          margin-right: 0.5rem !important;
        }
      }

      .col-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }

  /* tempsure *************************************************************** */
  .tempsure {
    background: url('../../img/tempsure-bg@2x.jpg') center / cover;
    min-height: 300px;
    padding: 40px 20px;

    .containerish {
      display: grid;
      grid-template-columns: 75%;
      justify-content: center;
      grid-gap: 1rem;
    }
  }

  /* botox & juvederm ******************************************************* */
  .botox-juvederm {
    padding: 40px 20px;

    .containerish {
      display: grid;
      grid-template-columns: 75%;
      justify-content: center;
      grid-gap: 2rem;
    }
  }

  /* Dr. Bio **************************************************************** */
  .bio {

    .containerish {
      background: url('../../img/dr-bg@2x.jpg') center / cover;
      padding: 40px 20px 0 20px;
      grid-template-columns: 75%;
      justify-content: center;
    }
  }

  /* plepharoplasty ********************************************************* */
  .blepharoplasty {
    padding: 40px 20px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color-dark, .7);
    }

    .containerish {
      grid-template-columns: 75%;
      justify-content: center;

      .section-info {

        .ui-btn-white {
          color: $color-black;
        }
      }
    }
  }

  /* eyebrow and radiesse *************************************************** */
  .eyebrow-radiesse {
    padding: 40px 20px;

    .eyebrow {
      margin-bottom: 2rem;

      .containerish {
        display: grid;
        grid-template-columns: 75%;
        justify-content: center;
      }
    }

    .radiesse {
      .containerish {
        display: grid;
        grid-template-columns: 75%;
        justify-content: center;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/* LARGE BREAKPOINT (Desktops 992px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 992px) {
  .ui-btn {
    display: inline-flex;
    width: auto;
    padding: 0.8rem 0.5rem;
    min-width: 225px;
  }

  /* hero ******************************************************************* */
  .hero {
    background: url('../../img/hero@2x.jpg') center / cover;
    padding: 40px 20px;
    height: 80vh;
    display: flex;
    align-items: center;

    .containerish {
      display: grid;
      grid-template-columns: 2fr .5fr;

      .section-info {
        p {
          max-width: 486px;
        }
      }
    }
  }

  /* tempsure *************************************************************** */
  .tempsure {
    background: url('../../img/tempsure-bg@2x.jpg') center / cover;
    min-height: 300px;
    padding: 40px 20px 0 20px;

    .containerish {
      display: grid;
      grid-template-columns: 1fr 1.2fr;
      justify-content: center;
      grid-gap: 1rem;

      img {
        align-self: flex-end;
      }
    }
  }

  /* botox & juvederm ******************************************************* */
  .botox-juvederm {
    padding: 40px 20px;

    .containerish {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      grid-gap: 2rem;

      .botox {
        // background: red;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .juvederm {
        // background: lightgreen;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .ui-btn-group {
          justify-self: flex-end;
        }
      }
    }
  }

  /* Dr. Bio **************************************************************** */
  .bio {
    overflow: visible;
    padding-top: 4rem;
    padding-bottom: 4rem;

    .containerish {
      padding: 0 20px;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 500px;

      img {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 600px;
        width: auto;
        z-index: 15;
      }
    }
  }

  /* plepharoplasty ********************************************************* */
  .blepharoplasty {
    padding: 40px 20px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color-dark, 0);
    }

    .containerish {
      grid-template-columns: 1fr 1fr;
      align-items: flex-end;

      .section-info {
        .ui-btn-white {
          color: $color-black;
        }
      }
    }
  }

  /* eyebrow and radiesse *************************************************** */
  .eyebrow-radiesse {
    padding: 40px 20px;

    .eyebrow {
      margin-bottom: 4rem;

      .containerish {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
        align-items: center;
      }
    }

    .radiesse {
      .containerish {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
        align-items: center;

        img {
          grid-column: 2;
          grid-row: 1;
        }

        .section-info {
          grid-column: 1;
          grid-row: 1;
        }
      }
    }
  }

  /* appointments *********************************************************** */
  .appointments {
    padding: 40px 20px;

    .appointment-wrapper {
      padding: 2rem 8%;
      max-width: 865px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 2rem;
      grid-row-gap: 1rem;

      .form-copy {
        grid-row: 1;
        grid-column: 1 / -1;
        justify-self: center;
        text-align: center;
      }

      .form-control {
        border-radius: 0;
      }

      input:not(:last-child) {
        margin-bottom: 0.5rem;
      }

      button {
        grid-row: 5;
        grid-column: 1 / -1 !important;
        justify-self: center;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/* EXTRA LARGE BREAKPOINT (Large Desktops 1200px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1200px) {

  /* TOPBAR *************************************************************** */
  header {
    position: fixed;
    top: 0;
    left: 0;
  }

  /* NAVBAR *************************************************************** */
  .dropdown:hover>.dropdown-menu {
    display: block;
  }

  .navbar-wrapper {
    background: rgba($color-dark, .2);
    position: relative;
    overflow: visible;
    // min-height: 100px;
    display: flex;
    align-items: center;

    .navbar-expand-xl .navbar-nav .nav-link {
      padding-right: 0;
      padding-left: 0;
    }

    .containerish {
      // width: 95%;
      max-width: 100%;
      margin: 0 auto;
      height: auto;
      padding: 0 1rem;
      display: grid;
      grid-gap: 1rem;

      @media screen and (min-width: 1200px) {
        padding: 0 2rem;
      }
    }
  }

  /* hero ******************************************************************* */
  .hero {
    background: url('../../img/hero@2x.jpg') center / cover;
    padding: 40px 20px;
    height: 100vh;
    display: flex;
    align-items: center;

    .containerish {
      display: grid;
      grid-template-columns: 2fr .5fr;

      .section-info {
        margin-left: 50px;

        p {
          max-width: 486px;
        }
      }
    }
  }

  .tempsure {
    background: url('../../img/tempsure-bg@2x.jpg') center / cover;
    padding: 0px 20px 0 20px;

    .containerish {
      height: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      grid-gap: 1rem;

      img {
        align-self: flex-end;
      }

      .section-info {
        margin-top: 75px;
      }
    }
  }

  /* botox & juvederm ******************************************************* */
  .botox-juvederm {
    padding: 60px 20px;
  }

  /* Dr. Bio **************************************************************** */
  .bio {

    .containerish {
      padding: 0 20px;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 600px;

      img {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 700px;
        width: auto;
        z-index: 15;
      }

      .section-info {
        margin-left: 50px;
      }
    }
  }

  /* plepharoplasty ********************************************************* */
  .blepharoplasty {
    height: 800px;
    padding: 40px 20px;
    display: flex;
    align-items: flex-end;

    .containerish {
      grid-template-columns: 1fr 1fr;

      .section-info {
        margin-left: 50px;

        .ui-btn-white {
          color: $color-black;
        }
      }
    }
  }

  /* eyebrow and radiesse *************************************************** */
  .eyebrow-radiesse {
    padding: 100px 20px;

    .eyebrow {
      margin-bottom: 6rem;

      .containerish {
        display: grid;
        grid-template-columns: 1.3fr 1fr;
        grid-gap: 2rem;
        align-items: center;
      }
    }

    .radiesse {
      .containerish {
        display: grid;
        grid-template-columns: 1fr 1.3fr;
        grid-gap: 2rem;
        align-items: center;

        img {
          grid-column: 2;
          grid-row: 1;
        }

        .section-info {
          grid-column: 1;
          grid-row: 1;
        }
      }
    }
  }

  /* appointments *********************************************************** */
  .appointments {
    padding: 3rem 8rem 3rem 8rem;

    .appointment-wrapper {
      max-width: 860px;
      margin: 0 auto;
    }
  }
}

/* -------------------------------------------------------------------------- */
/* MACBOOK PRO 15" BREAKPOINT (Large Desktops 1400px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1400px) {

  /* hero ******************************************************************* */
  .hero {

    .containerish {
      grid-template-columns: 1.5fr 1fr;

      .section-info {
        margin-left: 0;
      }
    }
  }

  /* tempsure *************************************************************** */
  .tempsure {
    background: url('../../img/tempsure-bg@2x.jpg') center / cover;
    padding: 0px 20px 0 20px;

    .containerish {
      height: auto;
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      justify-content: center;
      grid-gap: 1rem;

      img {
        align-self: flex-end;
      }

      .section-info {
        margin-top: 100px;
      }
    }
  }

  /* botox & juvederm ******************************************************* */
  .botox-juvederm {
    padding: 40px 20px;

    .containerish {
      grid-gap: 4rem;
    }
  }

  /* Dr. Bio **************************************************************** */
  .bio {
    padding-top: 6rem;
  }

  /* eyebrow and radiesse *************************************************** */
  .eyebrow-radiesse {

    .eyebrow {
      .containerish {
        display: grid;
        grid-template-columns: 1.2fr 1fr;
        grid-gap: 4rem;
        align-items: center;
      }
    }

    .radiesse {
      .containerish {
        display: grid;
        grid-template-columns: 1fr 1.2fr;
        grid-gap: 4rem;
        align-items: center;

        img {
          grid-column: 2;
          grid-row: 1;
        }

        .section-info {
          grid-column: 1;
          grid-row: 1;
        }
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/* SUPER LARGE BREAKPOINT (IMAC STATUS 1900px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1900px) {}