/* -------------------------------------------------------------------------- */
/* SECTION STYLES */
/* -------------------------------------------------------------------------- */
.containerish {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: auto;
  padding: 0;
}

section {
  overflow: hidden;
}

/* -------------------------------------------------------------------------- */
/* HERO SECTION */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* TEMPSURE ENVI SECTION */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* BOTOX & JUVEDERM SECTION */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* DR BIO SECTION */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* BLEPHAROPLASTY SECTION */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* EYEBROW LIFT & RADIESSE SECTION */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* APPOINTMENTS SECTION */
/* -------------------------------------------------------------------------- */