// Color Theme Vars
$color-main: #58917A;
$color-dark: #1C1C26;
$color-dark-accent: #796576;
$color-extra-dark: #000;
$color-light: #F0F0F0;
$color-light-accent: #7F819B;
$color-extra-light: #ffffff;
$color-white: #fff;
$color-black: #000;
$color-text-grey: #606060;

/* -------------------------------------------------------------------------- */
/* COLOR THEME */
/* -------------------------------------------------------------------------- */
.color-main {
  color: $color-main;
}

.color-dark {
  color: $color-dark;
}

.color-dark-accent {
  color: $color-dark-accent;
}

.color-extra-dark {
  color: $color-extra-dark;
}

.color-light {
  color: $color-light;
}

.color-light-accent {
  color: $color-light-accent;
}

.color-extra-light {
  color: $color-extra-light;
}

.color-white {
  color: $color-white;
}

.color-black {
  color: $color-black;
}

.color-text-grey {
  color: $color-text-grey;
}